button
{
    background-color:floralwhite;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;

}
#para1{
    background-color: lightsalmon;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: indigo;
    

}#para2{
    background-color: azure;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: indigo;
    

}
#para3{
    background-color: azure;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: brown;
    

}
.sac{
    background-color: aquamarine;
    font-weight: bold;
    font-style: italic;}
    .box{
        width: 300px;
        height: 200px;
        background-color: rgb(6, 74, 129);
        margin-left: 40px;margin-top: 200px;
        padding-left: 100px;
        padding-top: 90px;
        border: 10px solid;
        border-color: rgb(30, 223, 133);
        
    }
    .white{
        color: azure;
    }
    .inner{
        width: 150px;
        height: 100px;
        background-color: black;
        padding-top: 30px;
        padding-left: 30px;
    }